<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/base.css">
    {% block links%} {% endblock %}

    <title>SmolenskTour | {{ title }}</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo.png" height="64px" width="64px">
            <a href="/">SmolTour</a>
        </div>
        <div class="menu">
            <a href="/tours">Туры</a>
            <a href="">Создать тур</a>
            <a href="/#a">О нас</a>
        </div>

    </header>
        {% block content %}{% endblock %}
    <footer>

        <a href="">Туры</a>
        <a href="">Создать тур</a>
        <a href="/#a">О нас</a>


    </footer>
</body>
</html>