{% extends "base.html" %}

{% block links%}
    <link rel="stylesheet" href="/static/css/tours.css">
{% endblock %}

{% block content %}
        <main>
        <div class="filter">
            <form action="" method="POST">
                <input class="search__input" type="text" name="search_data" placeholder="Название тура...">
                <div class="checkbox__filter">
                    <label for="of">Официальные</label>
                    <input type="checkbox" name="official_tours" id="of">
                </div>
                <div class="checkbox__filter">
                    <label for="us">Пользовтельские</label>
                    <input type="checkbox" name="user_tours" id="us">
                </div>
                <input class="search__button" type="submit" value="🔍">
            </form>
        </div>

        <section>
            <article>
                <img src="static/img/hav8ozwd4y4-292x195-872.jpg" alt="">
                <div class="content">
                    <h3>К ИСТОКУ ДНЕПРА</h3>
                    <a class="hashtag" href="">#ПутешествияПоСмоленску!</a>
                    <span class="duration">Продолжительность 1 день</span>
                    <a class="btn">Подробнее</a>
                </div>
            </article>
            <article></article>
            <article></article>
        </section>
    </main>
{% endblock %}
