{% extends "base.html" %}

{% block links%}
    <link rel="stylesheet" href="/static/css/tour.css">
{% endblock %}

{% block content %}
        <h1 class="header">{{tour.title}}</h1>
        <section>
            <img src="/static/img/{{ photo }}" alt="">
            <span class="duration">Продолжительность: {{tour.duration}} день</span>
            <span class="description">{{tour.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloribus, dolorum. Amet, quo, unde. Accusamus at, blanditiis consectetur excepturi facilis maiores nam nobis officiis quisquam ratione saepe ullam ut, veritatis?</span>
        </section>
{% endblock %}