{% extends "base.html" %}

{% block links%}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
        <main>
<section class="offer __image__default">
            <div class="cover">
                <h1>ОТКРЫВАЙ СМОЛЕНСК</h1>
                <h2>ВМЕСТЕ С НАМИ!</h2>
                <a class="btn" href="/tours">ВПЕРЁД!</a>
            </div>
        </section>

            <section class="about">
                <h3 id="a">О НАС</h3>
                <img src="/static/img/logo.png" height="256px" width="256px">
                <span>Мы - команда энтузиастов, влюбленных в город Смоленск. Наша цель - поделиться с вами всей красотой и уникальностью этого замечательного места.

Смоленск - это не просто город, это живая легенда с богатейшей историей.

                </span> <span>Здесь взлетали и падали империи, здесь писались страницы великих событий. Мы гордимся тем, что можем рассказать вам о каждой улице, каждом здании, о том, что делает Смоленск таким особенным.

Давайте вместе откроем для себя Смоленск заново! Приглашаем вас присоединиться к нам в этом увлекательном путешествии</span>
            </section>
         </main>
{% endblock %}